<template name="layout">
  <div class="container">
    {{> header}}
    {{> errors}}
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
  </div>
</template>

<template name="todo">
  <header>
    <h1>A List ({{incompleteCount}})</h1>
    <label class="hide-completed">
      <input type="checkbox" checked="{{hideCompleted}}" />
      Hide Completed Tasks
    </label>
    <form class="new-task">
      <input type="text" name="text" placeholder="Type to add new tasks" />
    </form>
  </header>

  <ul>
    {{#each tasks}}
      {{> task}}
    {{/each}}
  </ul>
</template>
