body {
  font-family: sans-serif;
  background-color: #27272b;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  width: 100%;
  min-height: 97%;
  border-top: 5px solid #de4f4f;
  border-bottom: 5px solid #de4f4f;
}

header {
  color: white;
  padding: 20px 15px 15px 15px;
  position: relative;
}

.home-page {
  margin-top: 100px;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
}

form {
  margin-top: 0px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input, .new-list input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  color: white;
}

input:focus{
  outline: 0;
}

ul {
  margin: 20px 0 0 0;
  padding: 0;
  color: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  color: white;
}

li {
  position: relative;
  list-style: none;
  padding: 15px 0;
  margin: 0 15px;
  border-bottom: #777 dashed 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  left: 0;
  right: 0;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.background-checkbox {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color:white;
  border: 1px solid black
}

.checked .background-checkbox, .background-checkbox.checked {
  background-color: #de4f4f;
}

.list-heading {
  float: left;
}
