<template name="listShow">
  <header>
    <h1>{{text}} ({{incompleteCount}})</h1>
    <label class="hide-completed">
      <input type="checkbox" checked="{{hideCompleted}}" />
      Hide Completed Tasks
    </label>
    <form class="new-task">
      <input type="hidden" name="listId" value="{{ _id }}" />
      <input type="text" name="text" placeholder="Type to add new tasks" />
    </form>
  </header>
  <ul>
    {{#each tasks}}
      {{> task}}
    {{/each}}
  </ul>
</template>

<template name="task">
  <li class="{{#if checked}}checked{{/if}}">
    <button class="delete">&times;</button>
    <label>
      <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
      <span class="text">{{text}}</span>
    </label>
  </li>
</template>
