<template name="listShow">
  <div class="back">
    <header>
      <h1>{{text}} ({{incompleteCount}})</h1>
      <label class="hide-completed" data-checked="false">
        <div class="background-checkbox {{#if hideCompleted}}checked{{/if}}"></div>
        Hide Completed Tasks
      </label>
      <form class="new-task">
        <input type="hidden" name="listId" value="{{ _id }}" />
        <input type="text" name="text" placeholder="Type to add new tasks" autocomplete="off" />
      </form>
    </header>
    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="task">
  <li class="{{#if checked}}checked{{/if}}">
    <button class="delete">&times;</button>
    <label class="toggle-checked">
      <div class="background-checkbox"></div>
      <span class="text">{{text}}</span>
    </label>
  </li>
</template>
