<template name="listNew">
  <header>
    <h1>I want a list for</h1>
    <form class="new-list">
      <input type="text" name="text" placeholder="my groceries" autofocus="true" />
      <input type="submit" value="Go">
    </form>
  </header>
</template>

<template name="home2">
  <header>
    <h1>A List ({{incompleteCount}})</h1>
    <label class="hide-completed">
      <input type="checkbox" checked="{{hideCompleted}}" />
      Hide Completed Tasks
    </label>
    <form class="new-task">
      <input type="text" name="text" placeholder="Type to add new tasks" />
    </form>
  </header>

  <ul>
    {{#each tasks}}
      {{> task}}
    {{/each}}
  </ul>
</template>
